:root {
    --primary-color: #0F766E;
    --secondary-color: #115E59;
    --background-color: #FFFFFF;
    --text-color: #374151;
    --text-muted-color: #6B7280;
    --border-color: #0D9488;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
}
